<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="name">
                    <p>Họ và tên: NTNM</p>
                </div>
                <div class="gioitinh">
                    <p>Giới tính: Nam</p>
                </div>
                <div class="ngaysinh">
                    <p>Ngày sinh: 10/11/2000</p>
                </div>
                <div class="email">
                    <p>Email: nhatminhnt@mb.com</p>
                </div>
                <div class="daichi">
                    <p>Địa chỉ: quận 4 thành phố NT</p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="http://www.thanhdoan.hochiminhcity.gov.vn/ThanhDoan/webtd/Content/news/2021/6/34448/1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>